:root {
  --text-color: black;
  --primary-color: #F7BF50;;
  --secondary-color: #271801;
}

html {
  background-color: #F7BF50;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary-color);
}

a:hover {
  font-weight: bold;
}

h1 {
  font-size: 35px;
}

p, h1, h2 {
  margin: 0;
  color: var(--secondary-color)
;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

#wrapper {
  max-height: 1000vh;
  max-width: 1000px;
  margin: 0 auto;

  display: grid;
  grid-template-areas: /*grid area sould be direct children of wrapper in this case*/
    "header"
    "main"
    "footer";
  grid-template-rows: 300px minmax(650px, auto) 230px;
  grid-template-columns: 1fr;
}

body {
  overflow-x: hidden; /*remove all whitespaces*/
}

header nav {
  grid-area: header;
  align-content: center;
  font-weight: bold;
  margin: 2rem 0;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  margin-left: 60%;
}


.nav-icon-container, .nav-icon {
  display: none;
}

header .logo {
  text-align: center;
}

header .logo img {
  width: 202px;
  height: 202px;
}

#index { 
  grid-area: main;
  padding: 0 2rem;
  margin: 5rem 0;
}

#index .intro {
  text-align: center;
  margin: 3rem 0;
}

#index .intro p {
  font-size: 20px;
  font-weight: bold;
}

#index .business-philosophy {
  display: grid;
  grid-template-areas: 
    "leave" "leave-img"
    "baboo-img" "bamboo";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}
#index .leave-img img {
  width: 452px; 
  height: 170px; 
}

#index .bamboo-img img {
  width: 452px;
  height: 170px;
}

#index .vision {
  display: flex;
  flex-direction: column;
}

#index .vision h1 {
  margin: 2rem 0 2rem 0;
}

#index .vision-container {
  display: grid;
  grid-template-areas: 
  "vision-1" "vision-2"
  "vision-3" "vision-4";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

#index .principal-therapist {
  display: flex;
  margin: 2rem 8rem;
  gap: 50px;
}

#index .therapist-name p {
  text-align: center;
  margin: 0.5rem;
  font-weight: bold;
}

#index .therapist-name img {
  width: 202px;
  height: 202px;
  border-radius: 10px;
}

#index .greeting p {
  margin-bottom: 0.5rem;
}

#index h1 {
  margin-bottom: 0.5rem;
}

#expertise {
  display: grid;
  grid-template-areas: 
    "intro" "image";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin: 5rem 0;
  padding: 0 2rem;
}

#expertise h1 {
  margin-bottom: 2rem;
}

#expertise h2 {
  margin: 2rem 0 2rem 0;
}

#expertise p {
  margin: 1rem 0 1rem 0;
}

#expertise aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

#expertise img {
  width: 327px;
  height: 498px;
  border-radius: 10px;
}

#expertise .mobile-main-therapist {
  display: none;
}

#pricing {
  margin: 5rem 0;
  padding: 0 2rem;
}

#pricing .pricing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pricing h1 {
  margin-bottom: 2rem;
}

#pricing h2 {
  margin: 4rem 0 0.5rem 0;
}

#pricing .pricing {
  display: grid;
  grid-template-areas: 
  "ndis" "medicare" "private";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  color: white;
}

#pricing .pricing article {
  background-color: var(--secondary-color);
  border-radius: 20px;;
  margin: 1rem;
  padding: 0.5rem;
}

#pricing .plans {
  margin-bottom: 0.5rem;
}
#pricing .billing p {
  color: white;
}

#pricing .rate {
  font-size: 30px;
}

#pricing .session {
  text-align: right;
}

#pricing .pricing-info {
  list-style-type: disc;
}

#pricing summary {
  padding: 1rem 0;
  margin-left: 0.5rem;
  cursor: pointer;
}

#pricing .faq p {
  background-color: var(--secondary-color);
  padding: 1rem;
  color: white;
}

#pricing .faq h1 {
  margin-bottom: 1rem;
}

#appointment span {
  color: red;
}

#appointment h1 {
  text-align: center;
  margin: 2rem 0;
}

#appointment p {
  text-align: center;
}

#appointment form {
  background-color: var(--primary-color);
	margin: 0;
}

#appointment fieldset {
  text-align: center;
  border: none;
  padding: 0 15rem; /* place form to center */
  margin: 2rem 0;
}

#appointment .details {
  display: inline-block;
  width:49%;
  text-align: left;
}

#appointment .home-address {
  text-align: left;
}

#appointment .address {
  display: inline-block;
  width: 32%;
  text-align: left;
}

#appointment .block-label {
  display: block;
}

#appointment .message {
  display: inline-block;
  width: 100%;
  text-align: left;
}

#appointment .message input {
  width: 100%;
  height: 100px;
  padding: 0 0 80px 0; /* to place cursor on the top*/
  box-sizing: border-box;
}

#appointment input {
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 10px;
  width: 100%;
}

#appointment .terms input {
  transform: scale(2);
  margin: 10px;
}

#appointment fieldset section {
	padding-top: 10px;
}

#appointment #submit {
  background-color: var(--secondary-color);
  padding: 10px 155px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

#appointment #submit:hover {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid white;
  transition: background-color 0.5s ease;
}

#appointment #submit:active {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: white;
}

#contact span {
  color: red;
}

#contact .contact-contents {
  display: grid;
  grid-template-areas: 
  "form" "image";
  grid-template-columns: 450px 450px;
  grid-template-rows: 1fr;
  justify-content: center;
  margin-bottom: 5rem;
}

#contact h1, #contact p {
  margin: 2rem 0;
  text-align: center;
}

#contact form {
  background-color: var(--primary-color);
	margin: 0 auto;
}

#contact fieldset {
  text-align: center;
  border: none;
  padding: 0 3rem;
  position: relative;
}

#contact .name {
  display: inline-block;
  width:49%;
  text-align: left;
}

#contact .email {
  display: inline-block;
  width: 100%;
  text-align: left;
}

#contact .message {
  display: inline-block;
  width: 100%;
  text-align: left;
}

#contact .message input {
  width: 100%;
  height: 300px;
  padding: 0 0 280px 0;
  box-sizing: border-box;
}

#contact .tooltip {
	display: block;
	position: absolute; 
	visibility: hidden;
  left: 90%;
	width: 12em;
	padding: 0.5em;
	font-weight: normal;
	color: #FFF;
	background-color: var(--secondary-color);
	border:solid 2px var(--secondary-color);
  border-radius: 10px;;
  transition: transform 1s ;
  z-index: 1;
}

#contact .error {
	color: #D92525;
}

#contact span.error{
	padding-left: 10px;
}

#contact input {
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 10px;
  width: 100%;
}

#contact fieldset section {
	padding-top: 10px;
}

#contact #submit {
  background-color: var(--secondary-color);
  padding: 10px 155px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

#contact #submit:hover {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid white;
  transition: background-color 0.5s ease;
}

#contact #submit:active {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: white;
}

#contact .contact-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact img {
  width: 362px;
  height: 448px;
  border-radius: 10px;;
}

footer {
  grid-area: footer;
  background-color: white;
  padding: 1rem 2rem 0 2rem;

  display: flex;
  flex-direction: column;
}

footer .footer-main {
  display: flex;
  justify-content: space-between;
}

footer .left-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-logo img {
  width: 152px;
  height: 152px;
}

footer .social-media {
  display: flex;
}

footer .social-media img {
  width: 20px;
  height: 20px;
  margin: 5px;
}

footer li {
  margin: 10px 0;
}

footer .address {
  display: flex;
  align-items: center;
  text-align: center;
}

footer .sitemap {
  display: flex;
  align-items: center;
}

footer .copyright {
  text-align: center;
}

/* for mobile screen */
@media screen and (max-width: 414px) {
  #wrapper {
    max-height: 1000vh;
    max-width: 100%; /*414px*/
    padding: 0;
    margin: 0;
    
    grid-template-rows: auto minmax(650px, auto) auto;
  } 

  header .logo{
    margin-top: 100px;
  }
  
  nav {
    display: none;
  }

  .nav-icon-container, .nav-icon {
    display: block;
  }

  .nav-icon-container {
    margin: 0.5rem;
  }

  .nav-icon {
    width: 40px;
    height: 40px;
    float: right;
  }

  footer {
    background-color: white;
  }

  footer .footer-main {
    display: grid;
    grid-template-areas: 
      "sitemap"
      "address"
      "logo";
    grid-template-columns: 1fr;
    gap: 2em;
  }

  footer .footer-main .sitemap {
    grid-area: sitemap;
    justify-content: center;
    text-align: center;
  }

  footer .footer-main .address {
    grid-area: address;
    justify-content: center;
  }

  footer .copyright {
    margin: 2rem;
  }

  #index, #expertise, #pricing, #appointment, #contact {
    width: 370px;
    margin: 0;
    padding: 0 5px;
  }
   
  #index .intro {
    margin: 1rem 0;
  }

  #index .business-philosophy {
    display: grid;
    grid-template-areas: 
      "leave" 
      "leave-img"
      "bamboo"
      "baboo-img";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
  }

  #index .leave-img img, #index .bamboo-img img {
    width: 380px;
  }

  #index .bamboo {
    grid-area: bamboo;
  }

  #index .bamboo-img {
    margin-top: -20px;
  }

  #index .vision-container {
    display: grid;
    grid-template-areas: 
    "vision-1" 
    "vision-2"
    "vision-3" 
    "vision-4";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
  }

  #index .principal-therapist {
    display: flex;
    flex-flow: column;
    margin: 4em 0 4em 0;
  }

  #index .therapist-name img {
    width: 203px;
    height: auto;
    margin: 0 80px;
  }

  #expertise {
    grid-template-areas:
      "image"
      "intro";
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }

  #expertise article {
    margin: 2rem 0;
  }

  #expertise aside {
    grid-area: image;
    margin: 2rem 0;
  }

  #expertise img {
    display: none;
  }

  #expertise .mobile-main-therapist {
    display: block;
    width: 260px;
    height: 224px;
  }

  #pricing h1 {
    margin-top: 2rem;
  }

  #pricing .pricing {
    display: flex;
    flex-flow: column;
  }
  
  #pricing .pricing article {
    margin: 0.5rem;
    padding: 0.5rem;
  }

  #pricing .faq {
    margin: 2rem 0;
  }

  #appointment fieldset {
    padding: 0;
    text-align: left;
  }
  
  #appointment .mobile-details {
    display: block;
    width: 95%;
  }

  #appointment .mobile-address {
    width: 47%;
  }

  #appointment .terms {
    text-align: center;
  }

  #contact .contact-image {
    display: none;
  }

  #contact .contact-contents {
    display: flex;
  }

  #contact form {
    margin: 0;
    padding: 0 20px;
  }

  #contact fieldset {
    padding: 0 20px;
    margin: 0;
  }

  #contact .tooltip {
    left: 50%;
  }
}
